// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li{
  display: inline;
  background-color: blue;
  color: white;
  font-size: 100px;
  padding: 0px 20px;
  margin: 10px;
  border-radius: 2px;
}